<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <form action="/savedata" method="post" name="frm" enctype="multipart/form-data">
        <input type="hidden" name="hid" value="<%= (userdata2._id != '')?userdata2._id:'' %>">
        Name:
        <input type="text" name="name" placeholder="Username is reqire" value="<%= (userdata2._id != '')?userdata2.name:'' %>"><br><br>

        Age:
        <input type="number" name="age" placeholder="Enter age" value="<%= (userdata2._id != '')?userdata2.age:'' %>"><br><br>

        Email:
        <input type="text" name="email" placeholder="Enter email" value="<%= (userdata2._id != '')?userdata2.email:'' %>"><br><br>

        image:
        <input type="file" name="image"><br><br>

        <input type="submit" value="save">

    </form>

    <br><br>

    <table border="2">
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Email</td>
            <td>Image</td>
            <td>Action</td>
        </tr>
        <% data.forEach((i,index)=>{ %>
           <tr>
            <td><%= index + 1 %></td>
            <td><%= i.name %></td>
            <td><%= i.age %></td>
            <td><%= i.email %></td>
            <td><img src="../<%= i.image %>" height="100px" width="200px"></td>
            <td><a href="/edit/<%= i._id%>">Edit</a> <a href="/del/<%= i._id%>">Delet</a></td>
           </tr>
        <%}) %>
    </table>
</body>
</html>